
.network {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.network__item {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.network__link { 
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    width: 44px;
    height: 44px;
    fill: $client-svg-color;
    transition: background-color$animation-timing-function, fill $animation-timing-function;
      
    &:hover,
    &:focus {
        background-color: $link-active;
        fill: $text-color;
    }
}


