.galerry {
    padding-top: 94px;
    padding-bottom: 94px; 
}   

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 30px;
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-color;
}

.portfolio__label {
    font-size: 16px;
    line-height: 1.88;
    color: $link-color; 
}

.portfolio__text .portfolio {
    display: block;
    text-align: start;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__item {
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow $animation-timing-function;
    }
}

.portfolio__link:hover .portfolio__paragraph,
.portfolio__link:focus .portfolio__paragraph {
    color: $text-color;
    background-color: $galerry-card-bg;
    opacity: 1;
    transform: translateY(0);
}

.portfolio__text {
    text-indent: 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; 
    padding-top: 20px;
    padding-bottom: 20px; 
}

.portfolio__paragraph {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $title-color;
    transition: transform $animation-timing-function, background-color $animation-timing-function,
    color $animation-timing-function;
    transform: translateY(100%);
}

.portfolio__icon {
    position: relative;  
    overflow: hidden;
}




// button-portfolio

.button {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.button__item {
    cursor: pointer;
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.62;
    font-family: inherit;
    transition: background-color $animation-timing-function, color $animation-timing-function, box-shadow $animation-timing-function;
    
    &:hover,
    &:focus {
        background-color: $active-hero-button;
        color: $text-color;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.12);
    }
}


   

