.skill {
    padding: 60px 0px 60px 0px;

    @include desktop {
        padding: 94px 0px 47px 0px;
    }
 }
 

.skill__list {
    display: block;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    @include desktop {
        display: flex; 
    }
}

.skill__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 1 * 30px) / 2);
  
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
    }
  
    @include desktop {
      width: calc((100% - 90px) / 4);
  
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
                                                   
.skill__title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-color;

    @include tablet {
        text-align: left;
        margin-top: 0px;
    }   
}

.skill__paragraph {
    font-size: 14px;
    line-height: 1.71;
    color: $link-color;
}


.skill__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    max-width: 450px;
    height: 120px;
    
    border: 1px solid transparent;
    border-radius: 4px;   
    background-color: $team-bg-color;
    fill: currentColor;

    @include tablet {
        width: 354px;
    }

    @include desktop {
        width: 270px;
    }
}

